In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True, formatter={'float_kind': '{:0.1f}'.format})
from IPython.display import display

In [42]:
np.random.seed(80)
array1=np.random.randint(1, 101, (4, 4))
display(array1)
display(array1[array1 > 50])
print('summary of the first row:', array1[0].sum(axis=0))
print('summary of the second row:', array1[1].sum(axis=0))
print('summary of the third row:', array1[2].sum(axis=0))
print('summary of the fourth row:', array1[3].sum(axis=0))

print('Summary of the first column:', array1[:, 0].sum(axis=0))
print('Summary of the second column:', array1[:, 1].sum(axis=0))
print('Summary of the third column:', array1[:, 2].sum(axis=0))
print('Summary of the fourth column:', array1[:, 3].sum(axis=0))

print('the biggest number in the first row', np.max(array1[0]))
print('the biggest number in the second row', np.max(array1[1]))
print('the biggest number in the third row', np.max(array1[2]))
print('the biggest number in the fourth row', np.max(array1[3]))

print('the smallest number in the first row', np.min(array1[0]))
print('the smallest number in the second row', np.min(array1[1]))
print('the smallest number in the third row', np.min(array1[2]))
print('the smallest number in the fourth row', np.min(array1[3]))

print('the biggest number in the first column', np.max(array1[:, 0]))
print('the biggest number in the second column', np.max(array1[:, 1]))
print('the biggest number in the third column', np.max(array1[:, 2]))
print('the biggest number in the fourth column', np.max(array1[:, 3]))

print('the smallest number in the first column', np.min(array1[:, 0]))
print('the smallest number in the second column', np.min(array1[:, 1]))
print('the smallest number in the third column', np.min(array1[:, 2]))
print('the smallest number in the fourth column', np.min(array1[:, 3]))

print('the average number in the first row', np.mean(array1[0]))
print('the average number in the second row', np.mean(array1[1]))
print('the average number in the third row', np.mean(array1[2]))
print('the average number in the fourth row', np.mean(array1[3]))

print('the average number in the first column', np.mean(array1[:, 0]))
print('the average number in the second column', np.mean(array1[:, 1]))
print('the average number in the third column', np.mean(array1[:, 2]))
print('the average number in the fourth column', np.mean(array1[:, 3]))

array([[48, 61, 39, 84],
       [11, 51,  4, 87],
       [24, 16, 82,  6],
       [65, 10, 93, 43]])

array([61, 84, 51, 87, 82, 65, 93])

summary of the first row: 232
summary of the second row: 153
summary of the third row: 128
summary of the fourth row: 211
Summary of the first column: 148
Summary of the second column: 138
Summary of the third column: 218
Summary of the fourth column: 220
the biggest number in the first row 84
the biggest number in the second row 87
the biggest number in the third row 82
the biggest number in the fourth row 93
the smallest number in the first row 39
the smallest number in the second row 4
the smallest number in the third row 6
the smallest number in the fourth row 10
the biggest number in the first column 65
the biggest number in the second column 61
the biggest number in the third column 93
the biggest number in the fourth column 87
the smallest number in the first column 11
the smallest number in the second column 10
the smallest number in the third column 4
the smallest number in the fourth column 6
the average number in the first row 58.0
the average number in the second row 38.25
the average number in the third row 32.0
the average number in the fourth row 52.75
the average number in the first column 37.0
the average number in the second column 34.5
the average number in the third column 54.5
the average number in the fourth column 55.0

In [76]:
price = [69.99,59.99,69.99,69.99,39.99,69.99,59.99]  
title = ["Final Fantasy VII Rebirth", "Astro Bot", "Star Wars Outlaws","Silent Hill 2 Remake", "Elden Ring: Shadow of the Erdtree","Dragon Age: The Veilguard","Metaphor: ReFantazio"]
new_games = pd.Series(data=price, index=title)
display(new_games)
print("the price of Metaphor:",new_games["Metaphor: ReFantazio"])
print("all the titles:",list( new_games.keys()))
print("the price of third game:", new_games.iloc[3])
print("the summaty of all the games prices:", new_games.values.sum())

Final Fantasy VII Rebirth            69.99
Astro Bot                            59.99
Star Wars Outlaws                    69.99
Silent Hill 2 Remake                 69.99
Elden Ring: Shadow of the Erdtree    39.99
Dragon Age: The Veilguard            69.99
Metaphor: ReFantazio                 59.99
dtype: float64

the price of Metaphor: 59.99
all the titles: ['Final Fantasy VII Rebirth', 'Astro Bot', 'Star Wars Outlaws', 'Silent Hill 2 Remake', 'Elden Ring: Shadow of the Erdtree', 'Dragon Age: The Veilguard', 'Metaphor: ReFantazio']
the price of third game: 69.99
the summaty of all the games prices: 439.93